$family: 'Courier New', Courier, monospace;
$color-btn: "white";

@mixin boton($color, $padding){
    padding:$padding;
    background-color:$color;
    border-radius: 5px;
    color: $color-btn;
}