@mixin cajasFlexibles (){
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: space-around;
}
@mixin carFuente ($family, $size, $color, $height){
    font-family: $family;
    font-size: $size;
    color:$color;
    line-height: $height;
}